<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
    <%- include('./partials/nav') %> <!--exercise 2 -->
    <h1> <%= restaurant.name %> </h1> <!-- exercise 1 -->
    <p> <%= restaurant.address %> </p> <!-- exercise 1 -->
    <p> <%= restaurant.phone %> </p> <!-- exercise 1 -->
</body>
</html>
